th {
    background-color: black;
    font-size: 24px;
    color: white;
    text-align: left;
    height: 70px;
}
table{
    width: 47%;
}
.produtos{
    background-color: gray;
    color: white;
}
tr {
    background-color:gainsboro;
    color: gray;
    height: 20px;
    
}
td{
    border-bottom:1px solid white;
}
